@media (max-width: 1500px) {
  .slider_wrap {
    width: 90%;
  }
  .slider_img_span {
    font-size: 16px;
  }
  .slider_right_img_span {
    font-size: 13px;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big .slider_wrap {
    width: 80%;
  }
  .object-card-big .object-card-info .scrollbut {
    width: 40px;
    height: 40px;
  }
  .object-card-big .object-card-info .scrollbut .arrow_but {
    height: 12px;
  }
  .object-card-big .object-card-info-slider__text {
    font-size: 12px;
  }
  .object-card-big .object-card-info-photos-more {
    font-size: 14px;
  }
  .object-card-big .object-card-info-footer-heading__title {
    font-size: 14px;
  }
  .object-card-big .object-card-info-footer__paragraph {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .object-card-big .object-card-info-footer-reserve__title {
    font-size: 18px;
  }
  .object-card-big .object-card-info-footer-reserve-advise__text {
    font-size: 10px;
  }
  .object-card-big .object-card-info-footer-reserve-advise__text span:first-child{
    margin-bottom: 5px;
  }
  .object-card-big .object-card-btn {
    max-width: 160px;
    font-size: 14px;
  }
  .object-card-big .object-card-info-footer-subinfo {
    font-size: 12px;
  }
}

@media (max-width: 1400px) {

  /* ГЛАВНАЯ */

  .main_img_div {
    background-position-y: -40px;
  }
  .img_h {
    top: 200px;
  }
  .h1_green, h2_green {
    font-size: 1em;
  }
  .search_submiit {
    padding: 0;
    width: 120px;
  }
  .inp_div {
    width: 65%;
    margin: 0;
  }
  .in_modal_sp {
    font-size: 14px;
  }

  /* СТРАНИЦА ПОИСКА */

  .object-card {
    max-height: 360px;
    height: auto;
  }

  .object-card-info-body__facts {
    max-width: 310px;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big {
    max-height: none;
  }

}

@media (max-width: 1200px) {

  /* ГЛАВНАЯ СТРАНИЦА */

  .site_header {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .header_nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_nav_link_wrapper {
    margin-bottom: 15px;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .right_links {
    width: 75%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .link_button {
    margin: 0;
  }
  .pg_link {
    font-size: 16px;
  }
  .link_button {
    font-size: 14px;
  }
  .main_img_div {
    background-position-y: 0px;
  }
  .inp_div {
    width: 80%;
  }
  .guests_span {
    font-size: 13px;
  }

  /* СТРАНИЦА ПОИСКА */

  .search-content__left{
    margin-right: 30px;  
  }

  .search-form__input-semi {
    font-size: 11px;
  }
  .search-form-checkbox-label {
    font-size: 12px;
  }
  
  .search-content-header__title {
    font-size: 20px;
  }
  .search-content-header-filter {
    margin-top: 20px;
    font-size: 14px;
  }
  .search-content-header-filter__item {
    margin-bottom: 5px;
  }

  .object-card {
    max-height: 400px;
  }

  .object-card-img {
    max-width: 220px;
    max-height: 220px;
  }

  .object-card-info-header {
    padding-bottom: 4px;
  }
  
  .object-card-info-body__title {
    font-size: 14px;
  }

  .object-card-info-body__guests {
    font-size: 13px;
  }

  .object-card-info-body__tags {
    font-size: 11px;
  }
  .object-card-info-body__facts {
    max-width: 180px;
    font-size: 12px;
  }
  .object-card-info-body-row2{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .object-card-info-body-price__num {
    font-size: 20px;
  }
  .object-card-info-body-price__text {
    font-size: 10px;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big {
    max-height: none;
  }
  
  .service-block-part-heading__img {
    margin-right: 5px;
  }

  .service-block-part-heading__title {
    font-size: 16px;
  }

  .service-block-list {
    font-size: 12px;
  }

  .accom-header__title {
    font-size: 16px;
  }
  .accom-header__subtitle {
    font-size: 13px;
  }
  .accom-btn {
    max-width: 180px;
    height: 40px;
    font-size: 14px;
  }
  .accom-row__title {
    font-size: 14px;
  }
  .accom-range__label {
    font-size: 12px;
  }
  .accom-paragraph {
    font-size: 14px;
  }
  .accom-reserve-text {
    font-size: 14px;
  }

  .feedback-title {
    font-size: 25px;
  }
  .feedback-title::after {
    width: 90px;
    height: 3px;
  }
  .feedback-nameplate-inner {
    width: 180px;
  }
  .feedback-nameplate__img {
    width: 100%;
  }

  .feedback-item {
    min-height: 240px;
  }

  .feedback-item__text {
    font-size: 14px;
  }
  .feedback-item__author {
    margin-top: 10px;
  }

  .feedback .scrollbut {
    width: 45px;
    height: 45px;
  }
  
  .feedback .scrollbut .arrow_but {
    height: 14px;
  }

  .feedback .l_scroll_but {
    left: -50px;
  }
  .feedback .r_scroll_but {
    right: -33px;
  }

  .sub-phone-img {
    display: none;
  }
  .sub-inner {
    justify-content: center;
  }
  .sub-block {
    width: 70%;
    padding: 0;
    height: auto;
  }
  .sub-subtitle {
    font-size: 16px;
  }
  .sub-form__input, .sub-form__btn {
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 991px) {

  /* ГЛАВНАЯ СТРАНИЦА */

  .search_fields_inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_img_div {
    height: 500px;
  }
  .img_h {
    top: 130px;
  }
  .inp_div {
    width: 100%;
    margin-bottom: 20px;
  }
  .guests_span {
    font-size: 12px;
  }
  .section_title {
    font-size: 20px;
  }
  .search_submiit {
    width: 40%;
  }
  .slider_wrap {
    width: 80%;
  }
  .in_modal_sp {
    font-size: 11px;
  }
  .sell-span {
    max-width: 60% !important;
  }

  /* СТРАНИЦА ПОИСКА */

  .breadcrumbs {
    font-size: 12px;
  }

  .search-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-form__filter {
    display: none;
  }
  .search-content__left {
    width: 100%;
  }
  .search-content__left {
    margin-right: 0;
  }
  .search-form__form {
    max-width: 100%;
  }
  .search-form__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .search-form__form-title {
    display: none;
  }
  .search-form-part {
    margin-bottom: 10px;
  }
  .search-form__input {
    padding-left: 40px;
    border-radius: 5px;
  }
  #form-object, #form-date-to, #form-date-from, #form-adult {
    background-size: 20px;
    background-position-x: 10px;
  }
  .search-form__object {
    width: 100%;
  }
  .search-form__date {
    width: 49%;
  }
  .search-form__label {
    margin-bottom: 4px;
    font-size: 12px;
  }
  
  .search-form__label-count {
    display: none;
  }
  .search-form__adult-count {
    width: 33%;
  }
  .search-form__child-count {
    width: 66%;
  }
  .search-form__input-semi {
    font-size: 16px;
    width: 49%;
    border-radius: 5px;
  }
  .search-form__adult-count, .search-form__child-count {
    margin-top: 12px;
  }
  .search-form-btn {
    border-radius: 5px;
    background-image: none;
  }
  .search-form-btn::after {
    content: 'Найти';
    font-weight: bold;
    font-size: 25px;
    color: #fff;
  }
  .search-form-btn_filter {
    display: block;
    margin-top: 10px;
    background: var(--yellow);
  }
  .search-form-btn_filter::after {
    content: 'Фильтры';
  }
  .form-part-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
  }
  .search-form-checkbox-label {
    color: var(--primary-text)
  }

  .search-content__right {
    width: 100%;
  }
  .object-card-info-body__title {
    font-size: 16px;
  }
  .object-card-info-body__facts {
    margin-top: 10px;
    max-width: 300px;
  }
  .object-card-info-body-row2 {
    align-items: flex-start;
  }
  .object-card-info-body-subinfo {
    width: 70%;
  }
  .object-card-info-body-price {
    width: 30%;
  }
  .object-card-info-body-price__num span {
    white-space: nowrap;
  }
  .object-card-btn {
    max-width: 150px;
    font-size: 14px;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big .object-card-info-header__title {
    font-size: 20px;
  }

  .object-card-big .object-card-info-header__feedback {
    font-size: 13px;
  }

  .object-card-big .object-card-info-footer-left {
    padding-right: 20px;
  }

  .object-card-big .object-card-info-footer__paragraph {
    font-size: 13px;
  }

  .feedback-title {
    font-size: 20px;
  }

  .feedback-item {
    min-height: 220px;
  }

  .feedback-nameplate-inner {
    width: 150px;
  }
  .feedback-item__text, .feedback-item__author {
    font-size: 13px;
  }
}

@media (max-width: 768px) {

  /* ГЛАВНАЯ СТРАНИЦА */

  .nav_link {
    font-size: 14px;
  }
  .link_button {
    font-size: 12px;
  }
  .img_h {
    max-width: 360px;
    font-size: 24px;
  }
  .inp_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nobord_inp {
    max-width: 60%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px
  }
  .search_fields {
    padding-bottom: 10px;
  }
  .search_fields_date {
    max-width: 60% !important;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px
  }
  .guests_span_wrapper {
    width: 60%;
  }
  .guests_span {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0;
  }
  .inp_right {
    font-size: 13px;
  }
  .inp_right_sell {
    max-width: 60% !important;
    width: 60% !important;
  }
  .guests_modal {
    padding: 0;
  }
  .in_modal_sp {
    font-size: 12px;
  }
  .in_modal_sp_sm {
    margin-top: 15px;
  }
  .guests_modal_close_wrapper {
    width: 20px;
    height: 20px;
    top: 8px;
    right: 8px;
  }
  .guests_modal_close::before, .guests_modal_close::after {
    width: 20px;
  }
  .under_img {
    margin-top: 250px;
  }
  .r_scroll_but {
    right: -38px;
  }
  .l_scroll_but {
    left: -56px;
  }
  .scrollbut {
    width: 3em;
    height: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .arrow_but {
    height: 15px;
  }
  .slider_wrap {
    width: 80%;
  }
  .slider_wrap_div {
    height: 170px;
  }
  .slider_img_span {
    font-size: 14px;
  }
  .slider_right_img_span {
    padding: 5px;
    font-size: 11px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .slider_inner_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: 0px;
  }
  .slider_img_span {
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .slider_right_img_span {
    padding: 7px;
    font-size: 13px;
  }
  .right_foot {
    font-size: 14px;
  }

  /* СТРАНИЦА ПОИСКА */

  .breadcrumbs a {
    display: inline-block;
    margin-bottom: 10px;
  }

  .search-result {
    margin-top: 80px;
  }
  .search-form__input, .search-form__input-semi {
    font-size: 13px;
  }
  #form-object, #form-date-to, #form-date-from, #form-adult {
    background-size: 12px;
    background-position-x: 5px;
  }

  .search-content__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-content-header {
    width: 100%;
  }

  .search-content-header__title {
    font-size: 16px;
  }
  .search-content-header-filter {
    font-size: 12px;
  }

  .object-card {
    width: 48%;
    flex-direction: column;
    align-items: center;
    max-height: none;
  }

  .object-card-img {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
    width: 310px;
    max-height: 100%;
  }

  .object-card-info-header {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
  }

  .object-card-info-header-left {
    width: 100%;
  }
  .object-card-info-header-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .object-card-info-header__title {
    max-width: 261px;
    font-size: 16px;
  }
  .object-card-info-header-rating__item {
    width: 10px;
    height: 10px;
  }
  .object-card-info-header__feedback {
    margin-right: 5px;
    font-size: 11px;
  }
  .object-card-info-header__score {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }



  .object-card-info-body-row2 {
    flex-wrap: wrap;
  }

  .object-card-info-body-price {
    margin-bottom: 10px;
    width: 100%;
    order: -1;
    text-align: left;
  }

  .object-card-info-body-subinfo {
    width: 100%;
  }


  .object-card-info-body-price__text {
    display: inline-block;
  }

  .object-card-info-body__tags {
    max-width: 140px;
    font-size: 10px;
  }
  .object-card-info-body__nameplate {
    max-width: 140px;
    min-width: 90px;
    font-size: 10px;
    text-align: center;
  }
  .object-card-info-body__title {
    font-size: 14px;
  }
  .object-card-info-body__facts {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .object-card-info-body__guests, .object-card-info-body__facts {
    font-size: 11px;
  }
  .object-card-info-body-price__num {
    font-size: 14px;
  }
  .object-card-btn {
    max-width: 100%;
    height: 40px;
    font-size: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big {
    width: 100%;
  }
  .object-card-big .object-card-info-header {
    flex-wrap: nowrap;
  }
  .object-card-big .object-card-info-header-left {
    width: 69%;
  }
  .object-card-big .object-card-info-header__title {
    max-width: 100%;
  }  
  .object-card-big .object-card-info-header-right {
    width: 30%;
  }
  .object-card-big .object-card-info-photos-more {
    font-size: 10px;
  }
  .object-card-big .object-card-info-slider__img {

  }
  .object-card-big .object-card-info-slider__text {
    font-size: 10px;
  }
  .object-card-big .object-card-info-footer-heading__img {
    width: 25px;
    height: 25px;
  }
  .object-card-big .object-card-info-footer-heading__title {
    font-size: 12px;
  }
  .object-card-big .object-card-info-footer__paragraph {
    margin-bottom: 15px;
    font-size: 11px;
    line-height: 20px;
  }
  .object-card-big .object-card-info-footer-reserve__title {
    font-size: 14px;
  }
  .object-card-big .object-card-info-footer-reserve-advise__img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .object-card-big .object-card-info-footer-subinfo {
    font-size: 10px;
    line-height: 15px;
  }
  .object-card-big .object-card-btn {
    max-width: 100%;
  }

  .service-block {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service-block-col {
    width: 230px;
  }

  .service-block-part {
    margin-bottom: 20px;
  }

  .service-block-part-heading {
    position: relative;
  }

  .service-block-part-heading__title {
    max-width: 150px;
    font-size: 14px;
  }

  .service-block-part-heading::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--heading--secondary);
    border-left: 2px solid var(--heading--secondary);
    transform: rotate(-45deg);
    transition: all 0.3s;
  }

  .service-block-part-heading_slided::after {
    content: '';
    transform: rotate(135deg);
  }

  .service-block-list {
    display: none;
    padding-left: 0;
  }

  .accom-header__subtitle {
    font-size: 12px;
  }

  .accom-row {
    flex-wrap: wrap;
  }
  .accom-row-left, .accom-row-right {
    width: 100%;
  }
  .accom-row-left {
    margin-bottom: 20px;
  }
  .accom-time-to .accom-paragraph {
    max-width: 100%;
  }
  .accom_time {
    margin-top: 0;
  }
  .accom-cards-plates {
    margin: 0 auto;
    max-width: 300px;
  }
  .accom-warning {
    flex-wrap: nowrap;
  } 
  .accom-warning .accom-row-left {
    width: 30%;
  }
  .accom-warning .accom-row-right {
    width: 69%;
  }
  .accom-warning .accom-paragraph {
    margin-top: 0;
  }
  .accom-paragraph {
    font-size: 12px;
  }
  .accom-reserve-text {
    justify-content: space-between;
    font-size: 13px;
  }
  .accom-reserve-text-left {
    width: 22%;
  }
  .accom-btn {
    max-width: 135px;
    height: 35px;
    font-size: 12px;
  }

  .feedback-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .feedback-nameplate-wrapper {
    align-items: center;
    width: 50%;
  }
  .feedback-nameplate-inner {
    height: 100px;
  }
  .feedback-nameplate__text {
    font-size: 12px;
  }

  .sub-block {
    width: 90%;
  }

  .sub-title {
    font-size: 25px;
  }

  .sub-form {
    flex-wrap: wrap;
  }
  .sub-form__input, .sub-form__btn {
    margin: 0 auto 20px;
    width: 70%;
    max-width: none;
    font-size: 14px;
  }
}

@media (max-width: 520px) {

  /* ГЛАВНАЯ СТРАНИЦА */

  main {
    margin: 0;
  }
  .site_header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header_nav_link_wrapper {
    margin-bottom: 10px;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_link {
    margin-bottom: 20px;
  }
  .right_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_sel {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 11px;
  }
  .link_button {
    width: 165px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .header_nav_link_wrapper{
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pg_link{
    display: none;
  }
  .right_links {
    display: none;
  }
  .nav_link {
    margin-bottom: 0;
  }
  .burger_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 24px;
  }
  .burger {
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px
  }
  .burger::before {
    content: '';
    position: relative;
    top: -10px;
    left: 0;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px
  }
  .burger::after {
    content: '';
    position: relative;
    top: 6px;
    left: 0;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px
  }

  .site_header_sm {
    height: 55px;
    overflow: hidden;
  }

  .site_header_sm .burger_wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .site_header_sm .header_nav_link_wrapper{
    position: relative;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site_header_sm .logo_link {
    position: absolute;
    top: 3px;
    left: 0;
  }
  .site_header_sm .pg_link{
    display: block;
  }
  .site_header_sm .right_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
  }
  .site_header_sm .nav_link {
    margin-bottom: 10px;
  }
  .site_header_sm .nav_link:nth-child(2) {
    margin-top: 40px;
  }

  .img_h {
    top: 70px;
  }

  .search_variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search_variant {
    text-align: center;
    width: 50%;
    padding-right: 0;
    padding-left: 0;
  }

  .main_img_div {
    background: url(../img/main-bg.jpg) no-repeat center -145px;
    opacity: 0.4;
  }

  .index_search {
    top: 340px;
  }
  .nobord_inp {
    max-width: 80%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px
  }
  .search_fields {
    padding-bottom: 10px;
  }
  .search_fields_date {
    max-width: 80% !important;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px
  }
  .guests_span_wrapper {
    width: 80%;
  }
  .guests_span {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0;
  }
  .sell-span {
    max-width: 80% !important;
  }
  .inp_right {
    font-size: 13px;
  }
  .inp_right_sell {
    max-width: 80% !important;
    width: 80% !important;
  }
  .link_button {
    width: 50%;
  }
  .slider_wrap {
    width: 80%;
  }
  .slider_wrap_div {
    margin: 0;
  }
  .scrollbut {
    top: 47%;
  }
  .l_scroll_but {
    left: -20px;
  }
  .r_scroll_but {
    right: -20px;
  }
  .feedb {
    padding: 15px;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_link {
    margin-bottom: 20px;
  }

  /* СТРАНИЦА ПОИСКА */

  .breadcrumbs {
    font-size: 10px;
  }
  .search-result {
    margin-top: 35px;
  }
  .breadcrumbs {
    padding-bottom: 5px;
  }
  .search-form-btn::after {
    font-size: 18px;
  }

  .search-content__right {
    justify-content: center;
  }

  .object-card {
    width: 100%;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big {
    width: 100%;
  }
  .object-card-big .object-card-info-header {
    flex-wrap: wrap;
  }
  .object-card-big .object-card-info-header-left {
    width: 100%;
  }
  .object-card-big .object-card-info-header-right {
    width: 100%;
  }
  .object-card-big .object-card-info-photos-wrap_small {
    width: 48%;
    margin-bottom: 12px;
  }
  .object-card-big .object-card-info-photos-more {
    font-size: 13px;
  }
  .object-card-big .object-card-info-footer {
    flex-direction: column;
  }
  .object-card-big .object-card-info-footer-left {
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
  }
  .object-card-big .object-card-info-footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .object-card-big .object-card-info-footer-reserve-advise__text {
    font-size: 12px;
  }
  .object-card-big .object-card-info-footer-subinfo {
    font-size: 12px;
  }

  .service-block-col {
    width: 100%;
  }

  .accom-header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .accom-header-left {
    margin-bottom: 20px;
    width: 100%;
    padding-right: 0;
  }
  .accom-btn {
    max-width: 180px;
    height: 40px;
    font-size: 14px;
  }
  .accom-row__icon {
    margin-right: 10px;
  }
  .accom-range {
    width: 100%;
  }
  .accom-reserve-text {
    flex-wrap: wrap;
  }
  .accom-reserve-text-left, .accom-reserve-text-right {
    width: 100%;
  }
  .accom-warning {
    flex-wrap: wrap;
  }
  .accom-warning .accom-row-left, .accom-warning .accom-row-right {
    width: 100%;
  }
  .accom-cards-plates {
    max-width: 150px;
  }

  .feedback .r_scroll_but {
    right: -23px;
  }
  .feedback .l_scroll_but {
    left: -22px;
  }

  .sub-block {
    width: 100%;
  }
  .sub-title {
    font-size: 20px;
  }
  .sub-title::after {
    width: 110px;
    height: 3px;
    bottom: -15px;
  }
  .sub-subtitle {
    font-size: 14px;
  }
  .sub-form__input, .sub-form__btn {
    width: 90%;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 425px) {

  /* ГЛАВНАЯ СТРАНИЦА */

  .link_button {
    width: 70%;
  }
  .img_h {
    max-width: 270px;
  }
  .search_variant {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
  .inp_right {
    font-size: 10px;
  }
  .in_modal_sp_sm {
    margin-top: 33px;
  }
  .slider_wrap {
    width: 90%;
  }
  .right_foot {
    font-size: 10px;
  }

  /* СТРАНИЦА ПОИСКА */
  .search-form__date {
    width: 100%;
  }
  .search-form__adult-count {
    width: 100%;
  }
  .search-form__child-count {
    width: 100%;
  }
  .search-form-checkbox-label {
    font-size: 13px;
  }

  /* СТРАНИЦА ОБЪЕКТА */

  .object-card-big .object-card-info-header__title {
    font-size: 16px;
  }
  .object-card-big .object-card-info-header__feedback {
    font-size: 11px;
  }
  .object-card-big .object-card-info-header__score {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .object-card-big .object-card-info-photos-more {
    font-size: 11px;
  }
  .object-card-big .object-card-info-slider__img {
    width: 50px;
  }
  .object-card-big .object-card-info-footer__paragraph {
    font-size: 10px;
  }
  .object-card-big .object-card-info-footer-reserve-advise__text {
    font-size: 10px;
  }
  .object-card-big .object-card-info-footer-subinfo {
    font-size: 10px;
  }

  .feedback-nameplate-inner {
    width: 130px;
  }
}